* {
    font-size: 100%;
    font-family: 'Inter';
}

@media screen and (min-width: 48em) {
    .logo img {
        max-width: 100%;
    }
}

body {
    background-color: #F4F2F0;
}

.logo img {
    /* display: inline-block; */
    max-height: 100%;
    margin: auto auto;
    /* width: auto; */
}

tbody {
    background-color: white;
}

flex-column {
    padding: 10px 0;
}


/*Added Rounded Corner Tables*/
.table-curved {
    border-collapse: separate;
}

.table-curved {
    border: transparent #ccc 1px;
    border-radius: 6px;
    border-left: 0px;
}

.table-curved td,
.table-curved th {
    border-left: 1px transparent #ccc;
    border-top: 1px transparent #ccc;
}

.table-curved th {
    border-top: none;
}

.table-curved th:first-child {
    border-radius: 6px 0 0 0;
}

.table-curved th:last-child {
    border-radius: 0 6px 0 0;
}

.table-curved th:only-child {
    border-radius: 6px 6px 0 0;
}

.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}

.table-curved tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}