* {
    font-size: 100%;
    font-family: 'Inter';
}

.logo img {
    max-width: 100%;
}

body {
    background-color: #F4F2F0;
}

.logo img {
    /* display: inline-block; */
    max-height: 100%;
    margin: auto auto;
    /* width: auto; */
}

tbody {
    background-color: white;
}

.profile-pic-small {
    max-width: 25%;
}
